/* Koibito App 
   index.css
   Created by Mauro J. Pappaterra on 14 of April 2018.
*/

body {
    background-color: lightpink;
    padding: 20px;
    overflow: auto;
}

#logo{
    font-size: 65px;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #ff1c19;
    text-decoration: none;
}

ul {
    margin:5%;
    list-style-type: none;
}

ul li {
    display: block;

    margin-left: auto;
    margin-right: auto;
    clear: both;

    width: 25%;
    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: #47b3ff;
    font-size: xx-large;
    text-align: center;
    border-radius: 5px;

    cursor: pointer;
}

ul li:hover {
    background-color: #2dd6ff;
}

ul li:active {
    background-color: #ff8e97;
}

/*Pop up windows*/

.hidden {
    display: none;
    /*visibility: hidden;*/
}

#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px ;
    z-index: 5;
    overflow: hidden;
}

.popup {
    background-image: url("../img/waves.jpg");
    background-color: #6cb1ff;
    background-size:cover;
    z-index: 10;

    color: white;
    text-align: left;

    border-radius: 5px;
    box-shadow: 2px 2px 15px black;

    position: absolute;
    padding: 25px;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30%;
    top: 15%;
    position: fixed;

    clear: both;
}

#loginWindow {
    width: 50%;
}

#signupWindow {
    top: 5%;
}

.popup h1 {
    text-align: center;
}

.whitebox{
    background-color: rgba(20, 20, 20, 0.5);
    padding: 3px;
}

#login, #signup{
    float: right;
}

.close, .close:hover {
    color: white;
}

/*form stuff below*/

input[type=text], input[type=password], input[type=select], input[type=date], textarea{
    width: 75%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
     width: 25%;
}

input[type=file] {
    float: left;
    clear: both;
}

textarea {
    resize: none;
}

input[type=checkbox]{
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    padding: 10px;
    margin-top: 5px;
}

input[type=submit], input[type=button]{
    width: 25%;
    background: linear-gradient(#ffaca7, #ff78b3);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 6px;
    cursor: pointer;
    border-color: black;
    border: 1px;
    box-shadow: 1px 1px 5px #ff1c19, -1px -1px 5px #ff1c19;

    float: right;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #ff1c19;
}

h5 {
    text-align: center;
    color: white
}

h5 a {
    color: white;
}